<MudAppBar Bottom="true" Fixed="true" Color="Color.Surface" Elevation="0">
    <div class="mx-auto py-4">
        <MudText Typo="Typo.subtitle2">
            © 2021 - @(DateTime.Today.Year) Bindflow Technologies
        </MudText>
    </div>
</MudAppBar>